@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using TraCuuBMT.Models;
@using TraCuuBMT.General;

<div>
    <h3>Tạo mới biểu thuế</h3>
    <div class="contentAdmin">
        @*<form action="@Url.Action("CreateBieuThue","Admin")" method="post">*@
        @using (Html.BeginForm("CreateBieuThue", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @*<div class="form-group">
                <label for="email">Tên biểu thuế(*):</label>
                <input type="text" class="form-control" id="tenBieuThue" name="tenBieuThue" required value="">
            </div>
            <div class="form-group">
                <label for="phone">Mô tả:</label>
                <input type="text" class="form-control" id="description" name="description" required value="">
            </div>*@
            <div class="form-group">
                <label for="phone">HS Code(*):</label>
                <input type="text" class="form-control" id="HS_CODE" name="HS_CODE" required value="">
            </div>

            <div class="form-group">
                <label for="phone">Tên hàng hóa (Việt)(*):</label>
                <input type="text" class="form-control" id="Ten_Hanghoa_VN" name="Ten_Hanghoa_VN" required value="">
            </div>

            <div class="form-group">
                <label for="phone">Tên hàng hóa (Anh)(*):</label>
                <input type="text" class="form-control" id="Ten_Hanghoa_EN" name="Ten_Hanghoa_EN" required value="">
            </div>

            <div class="form-group">
                <label for="phone">ĐVT:</label>
                <input type="text" class="form-control" id="DVT_SL2" name="DVT_SL2" required value="">
            </div>

            <div class="form-group">
                <label for="phone">B01:</label>
                <input type="text" class="form-control" id="B01" name="B01" value="">
            </div>

            <div class="form-group">
                <label for="phone">B02:</label>
                <input type="text" class="form-control" id="B02" name="B02" value="">
            </div>
            <div class="form-group">
                <label for="phone">B03:</label>
                <input type="text" class="form-control" id="B03" name="B03" value="">
            </div>
            <div class="form-group">
                <label for="phone">B04:</label>
                <input type="text" class="form-control" id="B04" name="B04" value="">
            </div>
            <div class="form-group">
                <label for="phone">B05:</label>
                <input type="text" class="form-control" id="B05" name="B05" value="">
            </div>
            <div class="form-group">
                <label for="phone">B06:</label>
                <input type="text" class="form-control" id="B06" name="B06" value="">
            </div>
            <div class="form-group">
                <label for="phone">B07:</label>
                <input type="text" class="form-control" id="B07" name="B07" value="">
            </div>
            <div class="form-group">
                <label for="phone">B08:</label>
                <input type="text" class="form-control" id="B08" name="B08" value="">
            </div>
            <div class="form-group">
                <label for="phone">B09:</label>
                <input type="text" class="form-control" id="B09" name="B09" value="">
            </div>
            <div class="form-group">
                <label for="phone">B10:</label>
                <input type="text" class="form-control" id="B10" name="B10" value="">
            </div>
            <div class="form-group">
                <label for="phone">B11:</label>
                <input type="text" class="form-control" id="B11" name="B11" value="">
            </div>
            <div class="form-group">
                <label for="phone">B12:</label>
                <input type="text" class="form-control" id="B12" name="B12" value="">
            </div>
            <div class="form-group">
                <label for="phone">B13:</label>
                <input type="text" class="form-control" id="B13" name="B13" value="">
            </div>
            <div class="form-group">
                <label for="phone">B14:</label>
                <input type="text" class="form-control" id="B14" name="B14" value="">
            </div>
            <div class="form-group">
                <label for="phone">B15:</label>
                <input type="text" class="form-control" id="B15" name="B15" value="">
            </div>
            <div class="form-group">
                <label for="phone">B16:</label>
                <input type="text" class="form-control" id="B16" name="B16" value="">
            </div>
            <div class="form-group">
                <label for="phone">B17:</label>
                <input type="text" class="form-control" id="B17" name="B17" value="">
            </div>
            <div class="form-group">
                <label for="phone">B18:</label>
                <input type="text" class="form-control" id="B18" name="B18" value="">
            </div>
            <div class="form-group">
                <label for="phone">B19:</label>
                <input type="text" class="form-control" id="B19" name="B19" value="">
            </div>
            <div class="form-group">
                <label for="phone">B20:</label>
                <input type="text" class="form-control" id="B20" name="B20" value="">
            </div>
            <div class="form-group">
                <label for="phone">B21:</label>
                <input type="text" class="form-control" id="B21" name="B21" value="">
            </div>
            <div class="form-group">
                <label for="phone">B22:</label>
                <input type="text" class="form-control" id="B22" name="B22" value="">
            </div>
            <div class="form-group">
                <label for="phone">B23:</label>
                <input type="text" class="form-control" id="B23" name="B23" value="">
            </div>
            <div class="form-group">
                <label for="phone">B24:</label>
                <input type="text" class="form-control" id="B24" name="B24" value="">
            </div>
            <div class="form-group">
                <label for="phone">B25:</label>
                <input type="text" class="form-control" id="B25" name="B25" value="">
            </div>
            <div class="form-group">
                <label for="phone">B30:</label>
                <input type="text" class="form-control" id="B30" name="B30" value="">
            </div>
            <div class="form-group">
                <label for="phone">B61:</label>
                <input type="text" class="form-control" id="B61" name="B61" value="">
            </div>
            <div class="form-group">
                <label for="phone">B99:</label>
                <input type="text" class="form-control" id="B99" name="B99" value="">
            </div>
            <div class="form-group">
                <label for="THUE_EXPORT">Thuế suất xuất khẩu:</label>
                <input type="text" class="form-control" id="THUE_EXPORT" name="THUE_EXPORT" value="">
            </div>

            <div class="form-group">
                <label for="THUE_BVMT">Thuế bảo vệ môi trường:</label>
                <input type="text" class="form-control" id="THUE_BVMT" name="THUE_BVMT" value="">
            </div>

            <div class="form-group">
                <label for="THUE_TTDB">Thuế tiêu thụ đặc biệt:</label>
                <input type="text" class="form-control" id="THUE_TTDB" name="THUE_TTDB" value="">
            </div>

            <div class="form-group">
                <label for="THUE_TVCBPG">Thuế chống bán phá giá:</label>
                <input type="text" class="form-control" id="THUE_TVCBPG" name="THUE_TVCBPG" value="">
            </div>

            <div class="form-group">
                <label for="THUE_PBDX">Thuế phân biệt đối xử:</label>
                <input type="text" class="form-control" id="THUE_PBDX" name="THUE_PBDX" value="">
            </div>

            <div class="form-group">
                <label for="phone">Ghi chú:</label>
                <textarea class="form-control" id="note" name="note"></textarea>
            </div>

            @*<div class="form-group" style="display:none">
                <label for="file_vn">File tiếng Việt</label>
                <input type="file" class="form-control-file" name="file_vn" id="file_vn">
            </div>

            <div class="form-group" style="display:none">
                <label for="file_en">File tiếng Anh</label>
                <input type="file" class="form-control-file" name="file_en" id="file_en">
            </div>*@

            <div class="form-group">
                <label for="status">Trạng thái:</label>
                <select class="form-control" id="status" name="status">
                    @foreach (GeneralStatus item in Util.ListGeneralStatus)
                    {
                        if (item.StatusValue > 0)
                        {
                            <option value="@item.StatusValue">@item.StatusName</option>
                        }
                    }
                </select>
            </div>
            <div class="TwoButtonAdmin">
                <a href="@Url.Action("ListBieuThue", "Admin")" class="btn btn-default">Cancel</a>
                <input type="submit" class="btn btn-success" value="Save" />
            </div>
            @*</form>*@
        }
    </div>
</div>
